---
import DayPicker from "../components/DayPicker.svelte";
import StoreList from "../components/LibraryList.svelte";
import TimePicker from "../components/TimePicker.svelte";
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    </head>
    <body>
        <main>
            <DayPicker client:visible />
            <TimePicker client:visible />
            <StoreList client:load />
        </main>
    </body>
</html>
